<div class="header">
  Portfolio!
</div>
<div class="imaging">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-8">
    <img src="https://via.placeholder.com/300x300" alt="...">
    <img src="https://via.placeholder.com/300x300" alt="...">
    <img src="https://via.placeholder.com/300x300" alt="...">
    <img src="https://via.placeholder.com/300x300" alt="...">
    <img src="https://via.placeholder.com/300x300" alt="...">
    <img src="https://via.placeholder.com/300x300" alt="...">
  <div class="body-text">
      Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
  </div>
  <div class="col-1"></div>
</div>
</div>
<div class="ending">
  Lets end HERE
</div>