<div class="header">
  
</div>
<div class="imaging">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-9">
      <img src="assets/daniel-0471.jpg" alt="Danny Koolaid Resume Photo">
      <img src="https://via.placeholder.com/350x350" alt="resume-2">
      <img src="https://via.placeholder.com/350x350" alt="resume-3">
      <img src="https://via.placeholder.com/350x350" alt="resume=4">
      <img src="https://via.placeholder.com/350x350" alt="resume-5">
      <img src="https://via.placeholder.com/350x350" alt="resume-6">
      <div class="body-text">
        Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam quis risus
        eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit.
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
<div class="ending">
 
</div>